*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

header{
	position: fixed;
	display: block;
	width: 100%;
	padding: 1rem;
	text-align: center;
	top:0;
	background-color: rgba(0,0,0,.5);
	transition: top 0.5s;
}	
.menu{
	text-decoration: none;
	color: #eee;
	padding: 1rem;
	font-size:1.5rem;


}

.header{

	background-color: #EBE5E6;

	width: 100%;
	height: auto;
 
}

body,html{
	font-family: sans-serif;
	scroll-behavior: smooth;
	height: 100vh;
	background-color: rgba(0,0,0,0.78);
}
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: rgba(0,0,0,0);
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #53595E;
}
.head1{
  		background: linear-gradient(0deg, rgba(2,0,36,1) 2%, rgba(0,0,0,0.5) 100%);
		    display: flex;
    text-align: center;
    color: white;
    justify-content: center;
    flex-wrap: wrap;
    vertical-align: top;
		height:inherit;

	width: 100%;

	margin: 0 auto;
}
.bg_class1{
	 width: 100%;
    height: 100vh;
	background-image: url("images/bg2.jpg");
	background-position: center;
	 background-repeat: no-repeat;
  background-size: cover;
		
}
.bg_class2{
				background-image: url("images/bg3.jpg");
	background-position: center;
	  background-repeat: no-repeat;
  background-size: cover;
		vertical-align: top;
		display: inline-flex;
		    justify-content: center;
	    flex-wrap: wrap;
	    align-content: center;
	width: 100%;
	height:100%;
	font-size:2vw;

}
.head1 h1{
	margin-top:5rem;
	width: 80%;
	font-size: 5rem;
}
.head1 p{
		display: block;
		text-align: center;
	width: 60%;
	  font-size:1rem;
}
.donate{
	display: inline-block;
	text-decoration: none;
	color: white;
	border: 3px dashed #eee;
	padding: 10px 5rem;
	border-radius: 50px;

}
.btn-donate{
	width: 100%;
	font-size: 1.5rem;
}
.buttons{
		 width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    text-align: center;
    color: white;
    justify-content: center;
    flex-wrap: nowrap
    vertical-align: top;
		background: linear-gradient(180deg, rgba(2,0,36,1) 1%, rgba(0,0,0,0.4) 100%);

}
.button{

	max-width: 700px;
	margin: 1% 0;
	margin-right: 5%;
	background-color: rgba(0,0,0,0.5);
	padding: 1rem 1rem;
	border-right: 2px dashed #eee;
}
.button span{
	display: block;
	font-size:1.3vw;
	padding: 1rem 0;
	color: #eee;

}
h3{
	color: #fff;
}
.button button{

	cursor: pointer;
	padding: .5rem;
	background-color: rgba(255,255,255,0.1);
	border:0;
	box-shadow: 0;
	border-radius: 1rem;
	color: white;
		font-size:1vw;
	backdrop-filter: blur(3px);
	font-family: sans-serif;
}